//footer

.footer
	padding-bottom: 60px 
.footer__nav
	margin-bottom: 20px 
	.nav
		font-size: 0 
		text-align: center
		&__item
			position: relative
			display: inline-block
			vertical-align: top
			margin-right: 30px 
			+r(480)
				display: block
				margin-right: 0 
				margin-bottom: 20px
			&:after
				content: ""
				position: absolute
				top: 3px
				right: -17px
				width: 5px 
				height: 5px
				border-radius: 50% 
				background: #4d4d4d
				+r(480)
					top: 21px
					right: 50%
					margin-right: -2px   
			&:last-child:after
				content: none 
		&__link
			font-size: 13px 
			line-height: 13px
			color: #4d4d4d
			text-transform: uppercase 
			text-decoration: none 
			letter-spacing: 2px

.footer__content
	margin-bottom: 15px 
	padding: 42px 0
	background: #fee7ea
	text-align: center
	+r(980)
		padding: 20px 0 
.footer__part
	width: 33% 
	display: inline-block
	vertical-align: top 
	+r(980)	
		width: 60% 
		margin: 0 auto 
		display: block 
	+r(480)
		width: 90% 
		margin: 0 auto 
	&_left
		padding: 5px 0
		+r(980)
			padding-bottom: 25px 
		a
			height: 137px
			display: block 
			background-repeat: no-repeat
			background-position: 50% 50% 
			-webkit-background-size: contain
			-o-background-size: contain
			background-size: contain
			 
	&_right
		padding: 20px 0
		+r(980)
			padding: 0
			padding-top: 20px   
	&_center
		padding: 45px 0
		border-left: 1px solid #979797
		border-right: 1px solid #979797
		+r(980)
			border: none 
			border-top: 1px solid #979797
			border-bottom: 1px solid #979797
		+r(480)
			padding: 35px 0 
			border: none 
			border-top: 1px solid #979797
			border-bottom: 1px solid #979797
	&-text	
		margin-bottom: 10px 
		font-size: 13px
		line-height: 20px
		letter-spacing: 3px 
	&-email
		font-size: 20px 
		line-height: 20px
		color: #fe7d91
		text-transform: uppercase 
		text-decoration: none 
		letter-spacing: 4px 
		+r(1150)
			font-size: 15px 
		+r(480)
			font-size: 13px
.footer__in-la
	display: inline-block
	vertical-align: top
	margin-top: 15px 
	margin-right: 70px
	+r(480) 
		margin-right: 50px 
	&:hover
		opacity: 0.7
	.icon-love
		width: 58px
		height: 93px  
		background: url("/img/in-love.svg") no-repeat
.footer__socials
	display: inline-block
	vertical-align: top
	text-align: left
.footer__social
	position: relative
	margin-bottom: 20px 
	padding-left: 40px 
	display: block 
	line-height: 25px 
	color: #4d4d4d	
	text-transform: uppercase 
	text-decoration: none  
	letter-spacing: 3px 
	&:last-child
		margin-bottom: 0 
	&:hover
		opacity: 0.7
.icon-footer-in, .icon-footer-tw, .icon-footer-fb
	position: absolute
	top: 0
	left: 5px  
.icon-footer-in
	+s(footer-in)
.icon-footer-tw
	+s(footer-tw)
.icon-footer-fb
	+s(footer-fb)

.footer__copyright
	text-align: center
	p
		display: inline-block
		margin-right: 10px 
		text-transform: uppercase
		letter-spacing: 1px
		+r(480)
			display: block
			margin-bottom: 10px 
	a
		text-transform: uppercase
		letter-spacing: 1px
		text-decoration: none 
		&:hover
			text-decoration: underline