// BEGIN .header_3
.header_3
	.header-top	
		height: 120px 
		padding-top: 20px 
		font-size: 0
		text-align: center
		border-bottom: 1px solid #4d4d4d
		
	.header__logo
		position: relative
		display: inline-block
		margin-bottom: 0 
		margin-top: 10px 
	.header__logo:before
		content: none

	.header__left
		position: absolute
		left: 40px 
	.device-support
		margin-bottom: 10px
		font-size: 11px 
		color: #4d4d4d
		border: none
		letter-spacing: 1px 
		span
			color: #fe7d91
	.header__socials
		text-align: left
	.header__social
		position: relative
		display: inline-block
		padding-left: 40px 
		&:hover
			opacity: 0.7
	.icon-footer-in, .icon-footer-tw, .icon-footer-fb
		position: absolute
		top: 0
		left: 0
	
	.header__logo
		text-align: center
		a
			font-size: 40px 
			text-decoration: none 
			color: #4d4d4d

	.header__menu
		height: 60px
		border-bottom: 1px solid #4d4d4d
		text-align: center
		line-height: 60px
	.header__menu-item
		display: inline-block
		vertical-align: baseline
		margin-right: 85px
	.header__menu-item:last-child
		margin-right: 0 
	.header__menu-link
		font-size: 17px
		line-height: 13px
		text-decoration: none 
		color: #4d4d4d
		text-transform: uppercase
		letter-spacing: 1px
		&.new
			color: #fe7d91

	.header__right
		position: absolute
		top: 50px
		right: 0  
		.nav-list__item
			font-size: 13px
			button
				text-transform: uppercase 
		.currencies-list
			margin-top: none 
			.currency
				font-size: 13px 
				
	.header__adv
		&-item
			width: 50% 
			display: inline-block
			margin-right: 0 