
.content__inner
	@extend %in

.content-adv
	position: relative
	margin-bottom: 100px
	+r(980)
		margin-bottom: 20px
.item
	width: 49.6% 
	// min-height: 305px
	display: inline-block
	vertical-align: top
	margin-right: 0.8%
	margin-bottom: 10px 
	cursor: pointer
	transition: 0.2s all linear
	background-position: 50% 50%
	background-repeat: no-repeat
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	cursor: pointer
	&:before
		content: "" 
		display: inline-block
		padding-bottom: percentage(325/283)
	@media(max-width:980px)
		height: 0
		padding-bottom: 57%  
.items
	font-size: 0 
	text-align: center
	.items__inner
		width: 49.6%
		// height: 660px 
		display: inline-block
		vertical-align: top
		margin-right: 0.8%
		cursor: pointer
		transition: 0.2s all linear
		background-repeat: no-repeat 
		background-position: 50% 50%
		background-repeat: no-repeat
		-webkit-background-size: contain 
		-o-background-size: contain 
		background-size: contain 
		cursor: pointer
		&:last-child
			margin-right: 0 
		&:before
			content: "" 
			display: inline-block
			padding-bottom: percentage(660/570) 
		+r(980)
			width: 490px 
			margin-right: 0 
			margin-bottom: 20px 
			&:last-child
				margin-bottom: 0 
		+r(480)
			width: 300px 
	.items_4
		&:before
			content: "" 
			display: inline-block
			padding-bottom: percentage(500/830) 
		.item
			&:nth-child(even)
				margin-right: 0 
			&:nth-child(3)
				margin-bottom: 0 
			&:nth-child(4)
				margin-bottom: 0 
		.item_henna:hover
			background-image: url(/img/henna-collection-hover.png) !important
			background-repeat: no-repeat 
		.item_desert:hover
			background-image: url(/img/dessert-collection-hover.png) !important
			background-repeat: no-repeat 
			
	.items_3
		&:before
			content: "" 
			display: inline-block
			padding-bottom: percentage(500/830) 
		.item
			&:nth-child(even)
				margin-right: 0 
			&:nth-child(3)
				margin-bottom: 0
		.item_wider
			width: 100% 
			&:before
				content: "" 
				display: inline-block
				padding-bottom: percentage(325/577)    
		.item_pineapple:hover
			background-image: url(/img/pineapple-collection-hover.png) !important
			background-repeat: no-repeat
		.item_bestie:hover
			background-image: url(/img/bestie-collection-hover.png) !important
			background-repeat: no-repeat	
			

.gift-card-panel
	position: relative
	margin-bottom: 100px 
	background-repeat: no-repeat 
	-webkit-background-size: contain
	-o-background-size: contain
	background-size: contain
	background-position: 50% 50%
	background-repeat: no-repeat
	&:before
		content: "" 
		display: inline-block
		padding-bottom: percentage(500/1440) 
	+r(980)
		margin-bottom: 20px
.btn 
	display: inline-block
	height: 42px 
	margin-right: 10px 
	padding-left: 20px  
	padding-right: 20px
	line-height: 42px
	font-size: 12px 
	transition: 0.1s all linear
	text-align: center
	text-transform: uppercase 
	text-decoration: none
	letter-spacing: 2px 
	color: #FFF 
	background: #000  
	cursor: pointer
	&:hover
		opacity: 0.7 
	// &:last-child
	// 	margin: 0 
	+r(980)
		height: 30px
		line-height: 30px 
		padding: 0 7px  
		font-size: 11px
	+r(480)
		display: block
		margin-right: 0 
		margin-bottom: 10px 
		&:last-child	
			margin-bottom: 0
		
	// &.btn_gift
	// 	position: absolute
	// 	right: 280px 
	// 	top: 272px 
		
// arrivals
.arrivals
	margin-bottom: 100px 
	padding-top: 50px 
	background: #feecec 
	text-align: center 
	+r(980)
		margin-bottom: 20px 
	&__wrap
		margin: 0 -1% 
	&__items
		font-size: 0
	&__title
		margin-bottom: 20px
		font-size: 20px 
		font-weight: bold 
		text-transform: uppercase
		color: #000 
		letter-spacing: 8px 
	&__btn
		display: inline-block 
		height: 33px 
		width: 190px 
		margin-bottom: 50px 
		padding-top: 3px 
		line-height: 30px 
		font-size: 16px 
		font-weight: bold
		text-align: center
		letter-spacing: 2px
		text-transform: uppercase 
		background: url(/img/rect-green.png) no-repeat
		cursor: pointer
	&__item
		width: 23%
		margin: 0 1% 
		margin-bottom: 50px 
		display: inline-block
		vertical-align: top
		+r(980)
			width: 48%
		+r(480)
			width: 50% 
		&:hover
			opacity: 0.7 
		img
			margin-bottom: 30px 
			+r(480)
				height: 300px 
		&-name
			margin-bottom: 25px 
			font-size: 15px
			font-weight: bold 
			line-height: 16px
			text-transform: uppercase
			letter-spacing: 3px 
		.btn_buy	
			background: #fe7d91
	&__row
		width: 50%
		display: inline-block
		vertical-align: top
		+r(980) 	
			width: 100% 

// hash-tag
.hash-tag-container
	position: relative 
	margin-bottom: 60px 
	text-align: center
	+r(480)
		margin-bottom: 110px 
.hash-tag
	font-size: 45px
	color: #000  
	+r(480)
		font-size: 35px
	p
		font-size: 12px
		font-weight: bold  
		text-transform: uppercase
		letter-spacing: 1px 
.inst__btn
	position: absolute
	top: 20px 
	right: 60px 
	+r(650)
		right: 5% 
	+r(480)
		top: 80px 
		right: 50% 
		margin-right: -33px  
	.icon-instagram
		width: 65px 
		height: 65px 
		background: url(/img/instagram.svg) no-repeat
		cursor: pointer

//gallery
.gallery
	margin-bottom: 100px 
	font-size: 0
	text-align: center
	+r(980)	
		margin-bottom: 20px 
	&__wrap
		margin-right: -1%  
	&__item
		width: 19%
		margin-right: 1% 
		margin-bottom: 10px  
		display: inline-block
		vertical-align: top 
		transition: 0.2s all linear
		background-repeat: no-repeat 
		background-size: cover 
		+r(980)	
			width: 280px 
		&:before
			content: "" 
			display: inline-block
			padding-bottom: percentage(280/280) 
		&:hover
			opacity: 0.7
		&:last-child
			margin-right: 0
			margin-bottom: 0
	
